{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "globals": {
    "uni": true
  },
  "overrides": [
    {
      "files": ["*.vue", "*.tsx"],
      "parser": "vue-eslint-parser",
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      }
    }
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  /** 0: open，1: waring， 2: error */
  "rules": {
    "no-console": 1,
    "@typescript-eslint/no-unused-vars": 2,
    "vue/multi-word-component-names": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0
  }
}
